* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0 auto;
  font-family: sans-serif;
}

article {
  margin: 0.5em auto;
}

.highlight {
  background: #dbe4ff;
}

.highlight.important {
  background: #20c997;
  padding: 0.2em 0;
}

#content {
  margin: 0 0 auto auto;
  padding: 0.8em 1.6em;
  line-height: 1.6;
  width: 75%;
}

#content a.date,
#content a.date span.highlight {
  padding: 0.2em 0;
  background: #fab005;
  color: #000;
}

#content a.date:hover,
#content a.date:hover span.highlight,
a.date.select,
#content a.date.select,
#content a.date.select span.highlight {
  background: #d9480f;
  color: #fff;
}

a.date::before, a.date::after {
  content: " ";
}

#list {
  margin: 1em 2em;
  table-layout: fixed;
  border-collapse: collapse;
  line-height: 1.6;
}

#list thead {
  font-weight: bold;
}

#list #num {
  width: 4%;
}

#list #identity {
  width: 36%;
}

#list #imprisonment {
  width: 36%;
}

#list #state {
  width: 24%;
}

#list td {
  vertical-align: text-top;
  border: 1px #AAA solid;
  padding: 0.5em 1em;
}

#panel {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5em 1em;
  line-height: 1.6;
  width: 25%;
}

.button {
  font-size: 1em;
  color: #000;
  text-decoration: none;
  background: #CCC;
  border: none;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  line-height: 1;
  margin: 0 0.25em;
}

.button#pass {
  background: #ff8787
}

.button#save {
  background: #51cf66
}

input {
  font-size: 1em;
  padding: 0.2em 0.4em;
}

#pagination, #show-type {
  position: relative;
  text-align: center;
  padding: 0.5em;
}

.pagination-page {
  margin: 0 0.25em;
}
