<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>首頁 - 判決書日期選擇器</title>
    <link rel="stylesheet" type="text/css" href="/static/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="record">
      嗨，{{ username }}，您已經處理完成 {{ finish[username] }} 則判決。
      {%- if username == 'admin' -%}
        {%- for user, count in finish.items() -%}
        {{ user }} 完成 {{ count }} 則。
        {%- endfor -%}
      {%- endif %}
    </div>
    <div id="show-type">
      顯示方式：
      <a href="/?{{ query_date }}">只顯示未處理</a>
      <a href="/?show=true{{ query_date }}">只顯示已處理</a>
      <a href="/?show=both{{ query_date }}">兩類皆顯示</a>
    </div>
    <div id="search-time">
      <form id="search-time-box" method="get" action="/">
        <p>
          <label>搜尋日期（阿拉伯數字）：</label>
          民國 <input name="syr" size="5" class="search" value="{{search.year}}"/> 年 <input name="smth" size="5" class="search" value="{{search.month}}"/> 月 <input name="sd" size="5" class="search" value="{{search.day}}"/> 日
        </p>
        <p>
          <button class="button" type="submit">開始搜尋</button>
          <button class="button" type="button" id="cancel">取消搜尋</button>
        </p>
      </form>
    </div>
    <table id="list">
      <thead>
        <tr>
          <td id="num">#</td>
          <td id="identity">Identity</td>
          <td id="imprisonment">Imprisonment</td>
          <td id="state">狀態</td>
        </tr>
      </thead>
      <tbody>
        {% for j in judgements -%}
        <tr>
          <td>{{ loop.index + per_page * (current_page_num - 1) }}</td>
          <td><a href="/j/{{ j._id }}" target="_blank">{{ j.identity }}</a></td>
          <td>{{ j.imprisonment }}</td>
          <td>
            {% if j.state == True -%}
            {{ j.editor }} 已處理，
              {%- if j.dates|count > 0 -%}
              選擇日期：
              <ul>
                {%- for d in j.dates -%}
                <li>{{ d }}</li>
                {%- endfor -%}
              </ul>
              {%- else -%}
              未選擇任何日期
              {%- endif %}
            {%- else -%}
              {%- if j.tag == True -%}
              標記為稍後處理
              {%- else -%}
              尚未處理
              {%- endif -%}
            {%- endif %}
          </td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    <div id="pagination">
      {% for idx in range(lb, ub + 1) -%}
        {%- if idx == current_page_num -%}
          <span class="pagination-page">{{ idx }}</span>
        {%- elif idx == lb -%}
          <a class="pagination-page" href="/?p={{ idx }}{{ query_show }}{{ query_date }}">...</a>
        {%- elif idx == ub -%}
          <a class="pagination-page" href="/?p={{ idx }}{{ query_show }}{{ query_date }}">...</a>
        {%- else -%}
          <a class="pagination-page" href="/?p={{ idx }}{{ query_show }}{{ query_date }}">{{ idx }}</a>
        {%- endif -%}
      {%- endfor %}
    </div>
    <script src="/static/index.js"></script>
  </body>
</html>
