<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>判決書日期選擇器</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <section id="content">
      <header>{{ title }}</header>
      <article>
        {% for c in content -%}
          {%- if c['is_date'] -%}
            {%- if c['chosen'] -%}
              <a href="#" id="article-date-{{ loop.index }}"class="date chosen">{{ c['text'] }}</a>
            {%- else -%}
              <a href="#" id="article-date-{{ loop.index }}"class="date">{{ c['text'] }}</a>
            {%- endif -%}
          {%- else -%}
            {{ c['text'] }}
          {%- endif -%}
        {%- endfor %}
      </article>
    </section>
    <section id="panel">
      <div>共有 {{ count_of_date }} 個日期，如下：</div>
      <ul>
        {% for c in content -%}
          {%- if c['is_date'] -%}
            {%- if c['chosen'] -%}
              <li><a href="#" id="list-date-{{ loop.index }}"class="date chosen">{{ c['text'] }}</a></li>
            {%- else -%}
              <li><a href="#" id="list-date-{{ loop.index }}"class="date">{{ c['text'] }}</a></li>
            {%- endif -%}
          {%- endif -%}
        {%- endfor %}
      </ul>
      <form method="post" action="{{ filename }}/save">
        <div>選擇日期：
          <input id="chosen" name="chosen" value="{{ date }}"/>
        </div>
        <input type="submit" class="button" id="save" value="確認"/>
      </form>
    </section>
    <script src="static/script.js"></script>
  </body>
</html>
